<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="conatiner" style="text-align: center;">
        {% include 'navbar.html' %}
        <h1>This is about page </h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos placeat soluta exercitationem illo consequatur temporibus corporis, in, eius quod dolore odit necessitatibus ullam natus alias numquam, mollitia omnis maxime! Aspernatur, inventore. Explicabo totam repellendus laboriosam facere deleniti. Placeat a alias totam tempore assumenda, sequi, non minus minima veniam, dolor quasi?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Officiis dignissimos accusantium odio iste vitae esse ipsa nostrum eaque laborum corporis eum delectus, incidunt, asperiores, animi perspiciatis suscipit necessitatibus dolore dolor!</p>
        <button>Contact Us</button>
    </div>
</body>
</html>